*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    }
    
 body{
    color:#ffffff; 
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%236441a5' fill-opacity='1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    margin: 15px 0;
 }
 
 a{
    color: #ffffff;
     text-decoration: none;
 
 }
 ul{
     list-style: none;
 }
 
 .container{
     width: 90%;
     margin: auto;
 }
 
 /*Navigation*/
 .nav-main{
     background-color: #000000;
     border: 2px solid #6441a5;
     font-size: 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 0;
     margin: 20px 0;
     border-radius: 10px;
 }
 
 .nav-menu-right{
     padding: 0 10px;
 }
 .nav-menu{
     text-align: center;
 }
 
 .nav-brand{
     width: 177px;
 }
 
 /*nav izquierda*/
 .nav-main ul {
     display:flex;
 }
 .nav-main ul li {
     padding: 20px;
 }
 
 .nav-main ul li a:hover{
     border-bottom: 2px solid #ffffff;
 }
 
 .menu-btn{
     position: absolute;
     cursor: pointer;
     top: 50px;
     right: 55px;
     z-index: 2;
     font-size: 2.8rem;
     display: none;
 }
 /* parte abajo */
.parte-abajo{
    background: #2f3640;
    color: #616161;
    font-size: 20px;
    padding: 35px 0;
}

.container-pa{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.container-pa ul{
    margin: 0 auto;
}
.container-pa ul li{
    line-height: 3;
}

.footer{
    background: #2f3640;
    color: #616161;
    font-size: 15px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

#video1{
    border-radius: 10px;
    border:2px solid #01e1ff;
    -moz-box-shadow: 0px 0px 20px #01e1ff; 
    -webkit-box-shadow: 0px 0px 20px #01e1ff;   
    box-shadow: 0px 0px 20px #ff00ea;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 722px;
    width: 1280px;
}

@media (max-width:2000px) and (min-width:1670px){
}
 
@media (max-width:1669px) and (min-width:951px){
}

@media (max-width:1000px) and (min-width:701px){
    .nav-main{
        font-size: 29px;
    } 
    .nav-brand{
        width: 155px;
    }
    .nav-main ul li {
        padding: 10px;
    }
}

@media (max-width:700px) and (min-width:501px){
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 20px;
        opacity: .9;
        transform:translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show{ 
        transform: translateX(-10px)
    }
    .nav-main ul.nav-menu li{ 
        padding: 20px; 
        /* border-bottom: #ccc solid 1px; */
        font-size: 25px;
    }
    .nav-main ul.nav-menu-right{
        margin-right: 50px;
    }

    .parte-abajo .container-pa{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:500px){
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 10px;
        opacity: .9;
        transform:translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show{ 
        transform: translateX(-10px)
    }
    .nav-main ul.nav-menu li{ 
        padding: 20px; 
        /* border-bottom: #ccc solid 1px; */
        font-size: 20px;
    }
    .nav-main ul.nav-menu-right{
        display: none;;
    }
    .parte-abajo .container-pa{
        grid-template-columns: 1fr;
    }
}
